<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script
            src="https://kit.fontawesome.com/64d58efce2.js"
            crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/static/style.css"/>
    <title>Home | Sign In</title>
</head>
<body>
<div class="container">
    <div class="forms-container">
        <div class="signin-signup">
            <form action="{{ url_for("student_login") }}" class="sign-in-form" method="POST">
                <h2 class="title">Student Sign In</h2>
                <div class="input-field">
                    <i class="fas fa-user"></i>
                    <input type="text" name="name" placeholder="Full Name"/>
                </div>
                <div class="input-field">
                    <i class="fas fa-laptop-code"></i>
                    <input type="text" name="class_code" maxlength="11" placeholder="Class Code (cse451-wi21)"/>
                </div>
                <div class="input-field">
                    <i class="fas fa-video"></i>
                    <input type="text" name="zoom_id" placeholder="Zoom Meeting ID"/>
                </div>
                <input type="submit" value="Login" class="btn solid"/>
            </form>
            <form action="#" class="sign-up-form" id="instructor-form">
                <h2 class="title">Instructor Sign In</h2>
                <div class="input-field">
                    <i class="fas fa-user"></i>
                    <input type="text" placeholder="Full Name"/>
                </div>
                <div class="input-field">
                    <i class="fas fa-laptop-code"></i>
                    <input type="text" maxlength="11" placeholder="Class Code (cse451-wi21)"/>
                </div>
                <div class="input-field">
                    <i class="fas fa-lock"></i>
                    <input type="password" placeholder="Class Password"/>
                </div>
                <div class="input-field">
                    <i class="fas fa-video"></i>
                    <input type="text" placeholder="Zoom Meeting ID"/>
                </div>
                <input type="submit" class="btn" value="Login"/>
            </form>
            <form action="#" class="sign-up-form" id="class-form">
                <h2 class="title">Create a New Class</h2>
                <div class="input-field">
                    <i class="fas fa-laptop-code"></i>
                    <input type="text" maxlength="11" placeholder="Class Code (cse451-wi21)"/>
                </div>
                <div class="input-field">
                    <i class="fas fa-lock"></i>
                    <input type="password" placeholder="Class Password"/>
                </div>
                <div class="input-field">
                    <i class="fas fa-envelope"></i>
                    <input type="email" placeholder="Staff Email"/>
                </div>
                <input type="submit" class="btn" value="Create Class"/>
            </form>
        </div>
    </div>

    <div class="panels-container">
        <div class="panel left-panel">
            <div class="content">
                <h3>Instructor or Teaching Assistant ?</h3>
                <p>
                    Welcome! Please sign in as an instructor, create a new class, or create a new office hours
                    management session.
                </p>
                <button class="btn transparent" id="sign-up-btn">
                    TA Login / New Session
                </button>
            </div>
            <img src="/static/images/log.svg" class="image" alt=""/>
        </div>
        <div class="panel right-panel">
            <div class="content">
                <h3 id="instructor-page-title">First Time ?</h3>
                <p id="instructor-page-para">
                    Please create and set up a new class.
                </p>
                <button class="btn transparent" id="class-form-btn">
                    Create a Class
                </button>
                <br>
                <br>
                <button class="btn special" id="sign-in-btn">
                    Student Sign In
                </button>
            </div>
            <img src="/static/images/register.svg" class="image" alt=""/>
        </div>
    </div>
</div>

<script src="/static/login.js"></script>
</body>
</html>